<div class="container">  
  <form action="#" class="form-contact" method="post" tabindex="1">  
     <input type="text" class="form-contact-input" name="nome" placeholder="Nome" required />  
     <input type="email" class="form-contact-input" name="email" placeholder="Email" required />
     <mat-form-field appearance="fill">
      <mat-label>Categoria:</mat-label>
      <mat-select>
        <mat-option value="one">Informações</mat-option>
        <mat-option value="two">Reclamações</mat-option>
      </mat-select>
    </mat-form-field>  
     <input type="tel" class="form-contact-input" name="tel" placeholder="Telefone" />  
     <textarea class="form-contact-textarea" name="conteudo" placeholder="Deixe uma mensagem" required></textarea>  
     <button type="submit" class="form-contact-button">Enviar</button>  
  </form>  
</div> 
