<header class="bg-info py-5 mb-5">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-2">
        <img src="https://angular.io/assets/images/logos/angular/angular.svg">
      </div>
      <div class="col-lg-10">
        <h1 class="display-4 text-white mt-5 mb-2">Desafio SPA com Angular</h1>
      </div>
    </div>
  </div>
</header>

<div class="container main-container">
  <div class="row text-center">

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Multiplataforma</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/crossplat.jpg" alt="Foto Ilustrativa de Multiplataforma">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Saiba mais</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Performance</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/performance.jpg" alt="Foto Ilustrativa de Performance">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Explicabo magni sapiente, tempore debitis beatae
          culpa natus architecto.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Saiba mais</button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Produtividade</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/produtividade.jpg" alt="Foto Ilustrativa de Produtividade">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapiente esse necessitatibus neque.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Saiba mais</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Funcionalidades</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/funcionalidades.jpg" alt="Foto Ilustrativa de Funcionalidades">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Explicabo magni sapiente, tempore debitis
          beatae
          culpa natus architecto.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Saiba mais</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<!-- FIM Page Content -->